.ct-car {
  padding-inline: 20px;
}

.ct-car-nav {
  margin-bottom: 20px;

  a {
    height: 16px;
    text-decoration: none;
    color: var(--ct-text-color-default);
  }
}

.ct-car-header {
  margin-bottom: 20px;
}

.ct-car-header__title {
  font-size: 32px;
  font-weight: 500;
}

.ct-car-header__subtitle {
  font-size: 18px;
  color: var(--ct-text-color-secondary);
}

.ct-car-body {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ct-car-item {
  &__action {
    display: flex;
    margin-top: 10px;
  }

  &__action-left {
    display: flex;
    gap: 8px;
    margin-right: auto;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 25px;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    border-radius: 10px;

    &-label {
      padding-left: 4px;
      font-size: 16px;
      font-weight: 500;
      color: var(--ct-text-color-default);
    }

    &-value {
      color: var(--ct-text-color-secondary);
      padding: 12px;
      border-radius: 10px;
      background-color: #f2f5f8;
    }
  }
}

.ct-car-item__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.ct-car-item__image-container {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
