<div class="ct-login">
  <div class="ct-login-form">
    <div class="ct-login-form__row">
      <h2>Login to Your Account</h2>
    </div>

    <div class="ct-login-form__row">
      <label for="email">Email:</label>
      <input
        ctInput
        id="email"
        placeholder="Email"
        [formField]="form.email"
        (keydown.enter)="login()"
        (focus)="emailFoucused.set(true)"
        (blur)="emailFoucused.set(false)"
        [class.error]="showEmailInvalidError()"
        type="text"
      />
    </div>

    <div class="ct-login-form__row">
      <label for="password">Password:</label>
      <div class="ct-login-form__password-wrapper">
        <input
          ctInput
          id="password"
          placeholder="Password"
          [formField]="form.password"
          [class.error]="showPasswordNotLongEnoughError()"
          (keydown.enter)="login()"
          (focus)="passwordFoucused.set(true)"
          (blur)="passwordFoucused.set(false)"
          type="{{ showPassword() ? 'text' : 'password' }}"
        />

        <span
          class="ct-login-form__show-password"
          (click)="toggleShowPassword()"
          role="button"
          tabindex="0"
        >
          <ct-icon [icon]="showPassword() ? 'eye-off' : 'eye'" size="20"></ct-icon>
        </span>
      </div>
    </div>

    @if (errorMessage()) {
      <div class="ct-login-form__row ct-login-form__row--error">
        {{ errorMessage() }}
      </div>
    }

    @if (showEmailInvalidError()) {
      <div class="ct-login-form__row ct-login-form__row--error">
        Email must be a valid email address.
      </div>
    }

    @if (showPasswordNotLongEnoughError()) {
      <div class="ct-login-form__row ct-login-form__row--error">
        Password must be at least 8 characters long.
      </div>
    }

    <div class="ct-login-form__row ct-login-form__row--actions">
      <a [routerLink]="['/signup']" class="ct-login-form__signup-link">Sign up</a>
      <button
        ctButton
        ctButtonVariant="primary"
        (click)="login()"
        (keydown.enter)="login()"
        [disabled]="!canSubmit()"
      >
        Login
      </button>
    </div>
  </div>
</div>
