@use 'mixin' as m;

.ct-signup-success {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--ct-main-content-indent));
}

.ct-signup-success__content {
  width: 100%;
  max-width: 400px;
  padding-inline: 20px;
  margin: 0 auto;
  text-align: center;
  transform: translateY(-50%);

  h2 {
    margin-bottom: 10px;
  }
}
