<div class="ct-trim-tag-sketch">
  <div class="ct-trim-tag-sketch__box">
    <div class="ct-trim-tag-sketch__item ct-trim-tag-sketch__item--date">
      <span class="ct-trim-tag-sketch__item-label">DATE:</span>
      <span class="ct-trim-tag-sketch__item-value">{{
        trimTagData()?.['dateCode']?.value
      }}</span>
    </div>

    <div class="ct-trim-tag-sketch__item ct-trim-tag-sketch__item--style">
      <span class="ct-trim-tag-sketch__item-label">STYLE:</span>
      <span class="ct-trim-tag-sketch__item-value">{{
        trimTagData()?.['style']?.value
      }}</span>
    </div>

    <div class="ct-trim-tag-sketch__item ct-trim-tag-sketch__item--trim">
      <span class="ct-trim-tag-sketch__item-label">TRIM:</span>
      <span class="ct-trim-tag-sketch__item-value">{{
        trimTagData()?.['trim']?.value
      }}</span>
    </div>

    <div class="ct-trim-tag-sketch__item ct-trim-tag-sketch__item--paint">
      <span class="ct-trim-tag-sketch__item-label">PAINT:</span>
      <span class="ct-trim-tag-sketch__item-value">{{
        trimTagData()?.['paint']?.value
      }}</span>
    </div>

    <div class="ct-trim-tag-sketch__item ct-trim-tag-sketch__item--body">
      <span class="ct-trim-tag-sketch__item-label">BODY:</span>
      <span class="ct-trim-tag-sketch__item-value">{{
        trimTagData()?.['body']?.value
      }}</span>
    </div>
  </div>

<span class="ct-trim-tag-sketch__top">CHEVROLET DIV. GENERAL MOTORS CORP.</span>
  <span class="ct-trim-tag-sketch__bottom">BODY BY CHEVROLET</span>
</div>

