.ct-car {
  padding-inline: 20px;
  padding-bottom: 50px;
}

.ct-car-nav {
  margin-bottom: 20px;

  a {
    height: 16px;
    text-decoration: none;
    color: var(--ct-text-color-default);
  }
}

.ct-car-header {
  margin-bottom: 20px;
}

.ct-car-name-edit-actions {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.ct-car-header__title {
  font-size: 32px;
  font-weight: 500;
}

.ct-car-header__subtitle {
  font-size: 18px;
  color: var(--ct-text-color-secondary);
}

.ct-car-body {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
