<div class="ct-car">
  <div class="ct-car-nav">
    <button ctButtonIcon ctButtonVariant="outline">
      <a [routerLink]="['/v/cars']" class="ct-car-nav__link">
        <ct-icon [icon]="backArrowIcon" size="16"></ct-icon>
      </a>
    </button>
  </div>

  <header class="ct-car-header">
    @if (activeForm() === 'name') {
      <div class="ct-car-header__name-form">
        <input
          ctInput
          class="ct-car-header__name-input"
          type="text"
          placeholder="Car Name"
          [value]="nameModel()"
          (input)="nameModel.set($event.target.value)"
          ctAutoFocus
        />

        <div class="ct-car-name-edit-actions">
          <button ctButtonIcon ctButtonVariant="primary" (click)="saveName()">Save</button>
          <button ctButtonIcon ctButtonVariant="outline" (click)="cancelEditName()">Cancel</button>
        </div>
      </div>
    } @else {
      <div class="ct-car-header__title" (click)="editName()" role="button" tabindex="0">
        {{ car()?.name }}
      </div>
    }
  </header>

  <div class="ct-car-body">
    <div class="ct-car-item">
      <ct-car-vin
        [car]="car()"
        [extractedVinData]="extractedVinData()"
        [isFormActive]="activeForm() === 'vin'"
        [isExtracting]="isExtractingDataForVin()"
      ></ct-car-vin>
    </div>

    <div class="ct-car-item">
      <ct-car-tag
        [car]="car()"
        [extractedTagData]="extractedTagData()"
        [isFormActive]="activeForm() === 'tag'"
        [isExtracting]="isExtractingDataForTag()"
      ></ct-car-tag>
    </div>
  </div>
</div>

<input
  hidden
  type="file"
  id="vinPicture"
  name="vinPicture"
  accept="image/*"
  capture="environment"
  (change)="onFileSelected($event, 'vin')"
/>

<input
  hidden
  type="file"
  id="tagPicture"
  name="tagPicture"
  accept="image/*"
  capture="environment"
  (change)="onFileSelected($event, 'tag')"
/>
