<div class="ct-car-view-nav">
  <button ctButtonIcon ctButtonVariant="outline">
    <a [routerLink]="['/v/cars']" class="ct-car-view-nav__link">
      <ct-icon [icon]="backArrowIcon" size="16"></ct-icon>
    </a>
  </button>
</div>

<ct-car
  [car]="car()"
  [activeForm]="activeForm()"
  [extractedData]="extractedData()"
  [extractedVinData]="extractedVinData()"
  [extractedTagData]="extractedTagData()"
  [extractingDataFor]="extractingDataFor()"
  (carUpdated)="onCarUpdated($event)"
  (uploadingCarImageForExtraction)="onUploadingCarImageForExtraction($event)"
  (clearFormState)="onClearFormState()"
  (activeFormSet)="onActiveFormSet($event)"
></ct-car>
