<div class="ct-reset-password-link-sent">
  <div class="ct-reset-password-link-sent__container">
    <h2 class="ct-reset-password-link-sent__title">Reset Password Link Sent</h2>

    <p class="ct-reset-password-link-sent__message">
      A reset password link has been sent to the email address you provided. Please check your inbox
      and follow the instructions to reset your password.
    </p>

    <a [routerLink]="['/login']" class="ct-reset-password-link-sent__back-to-login"
      >Back to Login</a
    >
  </div>
</div>
