.ct-reset-password-link-sent {
  height: calc(100vh - var(--ct-main-content-indent));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;

  &__container {
    transform: translateY(-50%);
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__message {
    font-size: 16px;
    color: var(--ct-text-color-secondary);
    margin-bottom: 24px;
  }
}
