<div class="ct-forgot-password">
  <div class="ct-forgot-password__form">
    <h2>Let's reset your password</h2>

    <div class="ct-forgot-password__row">
      <label for="email">Email:</label>
      <input
        ctInput
        id="email"
        placeholder="Email"
        [formField]="form.email"
        (keydown.enter)="submit()"
        type="email"
      />
    </div>

    @if (errorMessage()) {
      <div class="ct-forgot-password__row ct-forgot-password__row--error">
        {{ errorMessage() }}
      </div>
    }

    <div class="ct-forgot-password__row ct-forgot-password__row--actions">
      <button ctButton ctButtonVariant="primary" [disabled]="!form().valid()" (click)="submit()">
        Submit
      </button>
    </div>
  </div>
</div>
