.ct-forgot-password {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 80px);
  padding-top: 12vh;
}

.ct-forgot-password__success {
  width: 100%;
  max-width: 400px;
  padding-inline: 20px;
  margin: 0 auto;
}

.ct-forgot-password__form {
  width: 100%;
  max-width: 400px;
  padding-inline: 20px;
  margin: 0 auto;

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.ct-forgot-password__row {
  margin-bottom: 20px;

  &--error {
    color: red;
    font-size: 13px;
    margin-bottom: 8px;
  }

  &--actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    button,
    a {
      &[ctButtonVariant='primary'],
      &[ctButtonVariant='secondary'] {
        padding: 6px 16px;
      }
    }
  }
}
