<div class="ct-car-list">
  <div class="ct-car-list-header">
    <div class="ct-car-list-header__title">Your Cars</div>
    <div class="ct-car-list-header__filters">
      <input
        ctInput
        type="text"
        placeholder="Search cars..."
        [value]="textSearch()"
        (input)="textSearch.set($event.target.value)"
      />
    </div>
  </div>

  <div class="ct-car-list-body">
    <div class="ct-car-list__add-new">
      <button ctButton ctButtonVariant="primary" (click)="openDialog()">Add New Car</button>
    </div>

    @if (cars().length > 0 && !isLoadingCars()) {
      @for (car of cars(); track $index) {
        <a [routerLink]="['/v/cars', car.id]" class="ct-car-card__link">
          <div class="ct-car-card">
            <div class="ct-car-card__left">
              <div class="ct-car-card__title">{{ car.name }}</div>

              <div class="ct-car-card__subtitle">vin: {{ car.vin }}</div>
            </div>

            <div class="ct-car-card__right">
              <div
                ctDropdown
                [ctDropdownTemplate]="optionsMenu"
                ctDropdownTriggerType="click"
                [attr.dropdown-id]="car.id"
                role="button"
                aria-label="Car options"
                tabindex="0"
                (click)="openOptionsMenu($event)"
              >
                <ct-icon [icon]="ellipsesMenuIcon" size="16"></ct-icon>
              </div>
            </div>
          </div>
        </a>

        <ng-template #optionsMenu>
          <div class="cdk-overlay-pane-default ct-car-list-options-menu">
            <div
              class="ct-car-list-options-menu__item ct-car-list-options-menu__item--danger"
              (click)="onDeleteCar(car.id)"
              role="button"
              tabindex="0"
            >
              Delete
            </div>
          </div>
        </ng-template>
      }
    }

    @if (isLoadingCars()) {
      <ct-skeleton-loader [height]="74" [borderRadius]="8"></ct-skeleton-loader>
      <ct-skeleton-loader [height]="74" [borderRadius]="8"></ct-skeleton-loader>
      <ct-skeleton-loader [height]="74" [borderRadius]="8"></ct-skeleton-loader>
    }

    @if (!isLoadingCars() && cars().length === 0) {
      <div>No cars available.</div>
    }
  </div>
</div>
